# Propriétaire global du dépôt

* @ton-username-admin

#Lead Fullstack (OBA)
/frontend/dashboard.html @psincereoba
/frontend/statistiques.html @psincereoba
/shared/@psincereoba

# Membres
/frontend/membres.html @username-de-kwongee

#Livraisons
/frontend/livraisons.html @altydellotm-dev

#Paiements
/frontend/paiements.html @username-de-todd

# Ventes
/frontend/ventes.html @Yggdrasil2024
